@import './variables';
@import './animations';
@import './imports';
@import './helpers';
@import './theme';

html,
body,
#app {
  height: 100%;
}

.main {
  padding-top: 35px;

  &::before {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
  }
}

body {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Urbanist', sans-serif;
}

img {
  width: 100%;
}
