@import './variables';
@import './animations';
@import './imports';
@import './helpers';
@import './theme';

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Urbanist', sans-serif;
}

img {
  width: 100%;
}
