$dark-background-color: #212528;

$github-user-dark-shadow: #121212;

.theme {
  transition: background-color $transition-time;

  .home-header {
    &-subtitle {
      font-weight: 500
    }

    &-description {
      font-weight: 500;
    }
  }

  &-light {
    color: $black;

    .home-header {
      &-subtitle {
        color: #404040
      }

      &-description {
        color: #606060;
      }
    }

    .github-user {
      &-picture {
        &-wrapper {
          box-shadow: 0px 3px 4px rgba($black, .3);
        }
      }
    }

    .search-bar {
      background-color: $white;
      box-shadow: 0 1px 4px rgba($black, .3);
    }

    .sk-chase-dot:before {
      background-color: $black;
    }
  }

  &-dark {
    color: $white;
    background-color: $dark-background-color;

    .home-header {
      &-subtitle {
        color: #eaeaea
      }

      &-description {
        color: #979797
      }
    }

    .github-user {
      &-picture {
        &-wrapper {
          box-shadow: 0 10px 15px rgba($github-user-dark-shadow, .3);
        }
      }
    }

    .search-bar {
      background-color: #2e2e2e;
      box-shadow: 0 1px 4px rgba($black, .3);

      &-input {
        color: $white;
      }
      
      /* &.active &-button {
        color: orange;
      } */
    }

    .sk-chase-dot:before {
      background-color: $white;
    }
  }
}
